<!--
File: create_post_form.html
Author: Nicholas Sima (nicksima@bu.edu)
Description: page to display a form for creating posts
-->


{% extends 'mini_insta/base.html' %}

{% block content %}

<h1>Create a New Post</h1>

<form action="{% url 'create_post' profile.pk %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.as_p }}

    <label for="files">Images:</label>
    <input type="file" name="files" id="files" multiple>

    <br><br>

    <input type="submit" value="Create Post">
    <a href="{% url 'show_profile' profile.pk %}">Cancel</a>
</form>

{% endblock %}
