{% extends 'mini_insta/base.html' %}

{% block content %}

<h1>Stalking all Profiles</h1>

<main class="grid-container">
    <ul>
        {% for profile in profiles %}

        <li>
            <article>
                <div>
                    <h2>{{profile.display_name}}</h2>
                    <h3>{{profile.username}}</h3>
                </div>

                <a href="{% url 'show_profile' profile.pk %}">
                    <img src="{{profile.profile_image_url}}" alt="" height="200" width="50">
                </a>
            </article>
            <hr>
        </li>
    </ul>
    {% endfor %}
</main>

{% endblock %}