<!--
File: show_profile.html
Author: Nicholas Sima (nicksima@bu.edu)
Description: page to show a single profile from mini_insta
-->


{% extends 'mini_insta/base.html' %}

{% block content %}

<h1>{{profile.display_name}}</h1>


<main class="grid-container">

    <article>
        <div>
            <h2>{{profile.display_name}}</h2>
            <h3>{{profile.username}}</h3>
            <p>{{profile.bio_text}}</p>
            <p><b>{{profile.join_date}}</b></p>
        </div>

        <img src="{{profile.profile_image_url}}" alt="">
    </article>

    {% if user.is_authenticated and profile.user == user %}
    <a href="{% url 'update_profile' %}">Update Profile</a>
    {% endif %}

    <p>
        <a href="{% url 'show_followers' profile.pk %}">{{ profile.get_num_followers }} Followers</a>
        &nbsp;|&nbsp;
        <a href="{% url 'show_following' profile.pk %}">{{ profile.get_num_following }} Following</a>
    </p>

    {% if user.is_authenticated and profile.user != user %}
        {% if is_following %}
        <a href="{% url 'delete_follow' profile.pk %}">Unfollow</a>
        {% else %}
        <a href="{% url 'follow_profile' profile.pk %}">Follow</a>
        {% endif %}
    {% endif %}

    <h2>Posts</h2>

    {% for post in profile.get_all_posts %}
    <article>
        <a href="{% url 'show_post' post.pk %}">
            {% if post.get_all_photos.first %}
                <img src="{{ post.get_all_photos.first.get_image_url }}" alt="Post image">
            {% else %}
                <p><i>No image available</i></p>
            {% endif %}
            <p>{{ post.caption }}</p>
        </a>
    </article>
    {% empty %}
    <p>No posts yet.</p>
    {% endfor %}

</main>

{% endblock %}